body {
    margin: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
    color: #333333;
}

.header {
    background-color: #333333;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #eaeaea;
}

.header a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

.header a:hover {
    text-decoration: underline;
}

.promo-section {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0 auto;
}

.promo-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.promo-content {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.promo-content button {
    padding: 10px 20px;
    background-color: #ffffff;
    border: none;
    color: #333333;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
}

.content {
    flex: 1;
    padding: 40px 20px;
}

.content h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2em;
    color: #333333;
}

.categories,
.popular-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -18px;
}

.category,
.item {
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    margin: 18px;
    padding: 0;
    width: calc(25% - 36px);
    box-sizing: border-box;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.category:hover,
.item:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category img,
.item img {
    width: 100%;
    height: auto;
    display: block;
}

.category h3,
.item h3 {
    padding: 10px;
    font-size: 1.2em;
    margin: 0;
    color: #333333;
    background-color: #ffffff;
    text-align: center;
}

.load-more {
    display: block;
    margin: 40px auto;
    padding: 10px 20px;
    background-color: #333333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.footer {
    background-color: #333333;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 20px;
    border-top: 1px solid #333333;
}

.footer .section {
    padding: 10px;
}

.footer .section.contacts {
    flex: 3;
}

.footer .section.services,
.footer .section.pages,
.footer .section.company {
    flex: 2;
}

.footer h3 {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer ul li {
    margin: 10px 0;
}

.footer ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer ul li a:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}

/* Стили для блока товаров */
.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 колонки */
    gap: 20px;
    padding: 20px;
    flex-grow: 1;
}

/* Стили для отдельных товаров */
.product {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    box-sizing: border-box;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

.product:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.product h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.product p {
    font-size: 1em;
    color: #666666;
}

.main-content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.sidebar {
    width: 250px;
    flex-shrink: 0;
    padding: 10px;
}

.slider-container {
    width: 100%;
    text-align: center;
}

.slider {
    width: 100%;
}

.value {
    font-size: 20px;
    margin-top: 10px;
}

.price-filters {
    display: flex;
    flex-direction: column;
}

/* Увеличиваем размер чекбоксов и текста */
.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px; /* Отступы между чекбоксами */
}

.checkbox-container input[type="checkbox"] {
    margin-right: 15px; /* Отступ между чекбоксом и текстом */
    transform: scale(1.6); /* Увеличиваем размер чекбокса */
    cursor: pointer; /* Курсор-указатель при наведении */
}

.checkbox-container label {
    font-size: 1.3em; /* Увеличиваем размер текста */
    color: #333333; /* Цвет текста */
}
button[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555;
}

/* Мобильная версия */
@media (max-width: 1200px) {
    .products {
        grid-template-columns: repeat(3, 1fr); /* 3 колонки на экранах с шириной до 1200px */
    }
}

@media (max-width: 900px) {
    .products {
        grid-template-columns: repeat(2, 1fr); /* 2 колонки на экранах с шириной до 900px */
    }
}

@media (max-width: 600px) {
    .products {
        grid-template-columns: 1fr; /* 1 колонка на экранах с шириной до 600px */
    }
}