<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Інтер</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<!-- Включаем header -->
<div th:replace="~{includes/header :: header}"></div>
<div class="active-category-heading" th:utext="'Активна категорія : ' + ${activeCategory}"></div>
<div class="main-content">
    <!-- Слева блок с фильтрами -->
    <div class="sidebar">
        <!-- Фильтры по категориям -->
        <div class="filter-category">
            <h3>Категорії</h3>
            <ul>
                <li th:each="entry : ${categoryFilters}">
                    <div class="subcategory-container">
                        <a class="subcategory-link" th:href="@{/main-category/{id}(id=${mainCategoryId}, subcategoryId=${entry.key.id}, page=${currentPage}, size=${size})}">
                            <span th:text="${entry.key.name}">Подкатегория</span>
                        </a>
                        <div class="arrow-container" onclick="toggleNestedCategories(this)">
                            <span class="arrow">▼</span>
                        </div>
                    </div>
                    <ul class="nested-category">
                        <li th:each="nestedCategory : ${entry.value}">
                            <a th:href="@{/main-category/{id}(id=${mainCategoryId}, subcategoryId=${entry.key.id}, nestedCategoryId=${nestedCategory.id}, page=${currentPage}, size=${size})}"
                               th:text="${nestedCategory.name}">Вкладена категорія</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <!-- Consolidated Filter Form -->
        <form th:action="@{/main-category/{id}(id=${mainCategoryId}, page=${currentPage}, size=${size})}" method="get" class="filter-form">
            <input type="hidden" name="nestedCategoryId" th:value="${nestedCategoryId}" />
            <input type="hidden" name="subcategoryId" th:value="${subcategoryId}" />
            <input type="hidden" name="page" th:value="${currentPage}" />
            <input type="hidden" name="size" th:value="${size != null ? size : 16}" />

            <!-- Скрытые инпуты для уже выбранных фильтров -->
<!--            <div th:each="selectedColor : ${selectedColors}">-->
<!--                <input type="hidden" name="colors" th:value="${selectedColor}" />-->
<!--            </div>-->
<!--            <div th:each="dimension : ${selectedDimensions}">-->
<!--                <input type="hidden" name="dimensions" th:value="${dimension}" />-->
<!--            </div>-->
<!--            <div th:each="tag : ${selectedTags}">-->
<!--                <input type="hidden" name="tagsFromClient" th:value="${tag}" />-->
<!--            </div>-->
<!--            <div th:each="brand : ${selectedBrands}">-->
<!--                <input type="hidden" name="brands" th:value="${brand}" />-->
<!--            </div>-->

            <!-- Price Filters -->
            <div class="price-filters">
                <h3>Цена</h3>
                <div class="price-range-container">
                    <label for="filterMinPrice">Від:</label>
                    <input type="number" id="filterMinPrice" name="filterMinPrice"
                           th:placeholder="${placeholderFromPrice}"
                           th:value="${filterMinPrice}" />
                    <label for="filterMaxPrice">До:</label>
                    <input type="number" id="filterMaxPrice" name="filterMaxPrice"
                           th:placeholder="${placeholderToPrice}"
                           th:value="${filterMaxPrice}" />
                </div>
            </div>

            <!-- Brand Filters -->
            <div class="subcategory-container" onclick="toggleBrands(this)" style="margin-bottom: 5px">
                <span class="subcategory-link">Бренди :</span>
                <div class="arrow-container">
                    <span class="arrow">▼</span>
                </div>
            </div>
            <div class="brand-filters nested-category brand-form">
                <div th:each="brand : ${availableBrands}" class="brand-checkbox">
                    <input type="checkbox" name="brands" th:value="${brand}" th:id="'brand-' + ${brand}"
                           th:checked="${selectedBrands != null and #lists.contains(selectedBrands, brand)}" />
                    <label th:for="'brand-' + ${brand}" th:text="${brand}">Бренд</label>
                </div>
            </div>

            <!-- Dimension Filters -->
            <div class="subcategory-container" th:if="${subcategoryId != null}" onclick="toggleDimensions(this)">
                <span class="subcategory-link">Розміри :</span>
                <div class="arrow-container">
                    <span class="arrow">▼</span>
                </div>
            </div>
            <div class="dimension-filters nested-category dimension-form" th:if="${subcategoryId != null}">
                <div th:each="dimension : ${availableDimensions}" class="dimension-checkbox">
                    <input type="checkbox" name="dimensions"
                           th:value="${dimension.size}"
                           th:id="'dimension-' + ${dimension.size}"
                           th:checked="${selectedDimensions != null and #lists.contains(selectedDimensions, dimension.size)}" />
                    <label th:for="'dimension-' + ${dimension.size}" th:text="${dimension.size}">Розмір</label>
                </div>
            </div>
            <!-- Tag Filters -->
            <div class="subcategory-container" th:if="${subcategoryId != null}" onclick="toggleTags(this)" style="margin-top: 5px">
                <span class="subcategory-link">Теги :</span>
                <div class="arrow-container">
                    <span class="arrow">▼</span>
                </div>
            </div>
            <div class="tag-filters nested-category tag-form" th:if="${subcategoryId != null}">
                <div th:each="tag : ${availableTags}" class="tag-checkbox">
                    <input type="checkbox" name="tags"
                           th:value="${tag.name}"
                           th:id="'tag-' + ${tag.name}"
                           th:checked="${selectedTags != null and #lists.contains(selectedTags, tag.name)}" />
                    <label th:for="'tag-' + ${tag.name}" th:text="${tag.name}">Тег</label>
                </div>
            </div>

            <!-- Color Filters -->
            <h3>Цвета</h3>
            <div class="color-filters">
                <div th:each="color : ${availableColors}" class="color-checkbox">
                    <input type="checkbox" name="colors" th:value="${color.id}" th:id="'color-' + ${color.id}"
                           th:checked="${selectedColors != null and #lists.contains(selectedColors, color.id)}" />
                    <label th:for="'color-' + ${color.id}"
                           th:style="'background-image: url(\'/colors_for_products/' + ${color.imageUrl} + '\'); background-size: cover; background-position: center;'">
                    </label>
                </div>
            </div>

            <!-- Submit Button -->
            <button type="submit">Застосувати фільтри</button>
        </form>

        <!-- Reset Filters Button -->
        <a th:href="@{/main-category/{id}(id=${mainCategoryId}, page=0, size=${size})}" class="reset-filters-button">Видалити фільтри</a>
    </div>

    <!-- Блок с товарами -->
    <div class="products">
        <div class="product" th:each="product : ${productsList}">
            <a th:href="@{/product/{id}(id=${product.id})}">
                <div class="product-image-wrapper">
                    <img th:src="@{'/product_images/' + ${product.productImages.get(0)}}" alt="Product Image">
                </div>
                <div class="product-info">
                    <h3 th:text="${product.name}">Product Name</h3>
                    <p th:text="${product.price}">Product Price</p>
                    <p th:text="${product.brand.name}">Brand</p>
                </div>
            </a>
        </div>
    </div>

    <!-- Pagination Controls -->
    <div class="pagination">
        <ul>
            <li th:if="${currentPage > 0}">
                <a th:href="@{/main-category/{id}(id=${mainCategoryId}, page=${currentPage - 1}, size=${size})}">Previous</a>
            </li>
            <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                <a th:if="${i != currentPage}" th:href="@{/main-category/{id}(id=${mainCategoryId}, page=${i}, size=${size})}"
                   th:text="${i + 1}">Page Number</a>
                <span th:if="${i == currentPage}" th:text="${i + 1}">Current Page</span>
            </li>
            <li th:if="${currentPage < totalPages - 1}">
                <a th:href="@{/main-category/{id}(id=${mainCategoryId}, page=${currentPage + 1}, size=${size})}">Next</a>
            </li>
        </ul>
    </div>
</div>
<p>Выбранные теги: <span th:text="${selectedTags}"></span></p>
<p>Доступные теги: <span th:text="${availableTags}"></span></p>

<!-- Включаем footer -->
<div th:replace="~{includes/footer.html}"></div>

<script>
    // Функции для сворачивания/разворачивания списков
    function toggleNestedCategories(element) {
        element.parentElement.parentElement.classList.toggle('active');
    }

    function toggleDimensions(element) {
        const form = document.querySelector('.dimension-form');
        form.classList.toggle('active');
        element.classList.toggle('active');
    }

    function toggleTags(element) {
        const form = document.querySelector('.tag-form');
        form.classList.toggle('active');
        element.classList.toggle('active');
    }

    function toggleBrands(element) {
        const form = document.querySelector('.brand-form');
        form.classList.toggle('active');
        element.classList.toggle('active');
    }
</script>
</body>
</html>
