<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link rel="stylesheet" href="/css/productPage.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<!-- Include header -->
<div th:replace="~{includes/header :: header}"></div>

<!-- Product Details -->
<div class="product-details">
    <div class="product-images">
        <div class="product-main-image">
            <img id="mainImage" th:src="@{'/images/' + ${productImages[0]}}" alt="Product Image"/>
        </div>
        <div class="product-thumbnail-list">
            <div th:each="image, iterStat : ${productImages}" class="product-thumbnail" th:classappend="${iterStat.index == 0} ? 'selected' : ''">
                <img th:src="@{'/images/' + ${image}}"
                     alt="Product Thumbnail"
                     th:data-image="${image}"
                     th:onclick="|document.getElementById('mainImage').src = '/images/' + this.dataset.image; highlightThumbnail(this.parentElement);|"/>
            </div>
        </div>
        <div class="product-description-container">
            <h2>Опис:</h2>
            <div class="product-description" th:text="${productDescription}">Product Description</div>
        </div>
    </div>
    <div class="product-info">
        <h1 th:text="${productName}">Product Name</h1>
        <p class="price-container">
            <strong class="price-label">Ціна:</strong>
            <span class="original-price" th:if="${productDiscountedPrice != null}" th:text="${productPrice}">Price</span>
            <span class="price" th:if="${productDiscountedPrice == null}" th:text="${productPrice}">Price</span>
        </p>
        <p class="discounted-price-container" th:if="${productDiscountedPrice != null}">
            <strong class="discounted-price-label">Ціна зі знижкою:</strong>
            <span class="discounted-price" th:text="${productDiscountedPrice}">Discounted Price</span>
        </p>
        <p><strong>Кольори:</strong></p>
        <form>
            <div class="product-color-filters">
                <div th:each="color : ${productColors}" class="product-color-radio">
                    <input type="radio" name="colors" th:value="${color.id}" th:id="'color-' + ${color.id}" />
                    <label th:for="'color-' + ${color.id}"
                           th:style="'background-image: url(\'/colors_for_products/' + ${color.imageUrl} + '\'); background-size: cover; background-position: center;'">
                    </label>
                </div>
            </div>
            <p><strong>Розміри:</strong></p>
            <div class="product-dimension-filters">
                <div th:each="dimension : ${productDimensions}" class="product-dimension-radio">
                    <input type="radio" name="dimensions" th:value="${dimension}" th:id="'dimension-' + ${dimension}" />
                    <label th:for="'dimension-' + ${dimension}" th:text="${dimension}">Dimension</label>
                </div>
            </div>
        </form>
        <div class="product-meta">
            <p class="product-id"><strong>ID:</strong> <span th:text="${productId}">Product ID</span></p>
            <p><strong>Теги:</strong> <span th:text="${#strings.listJoin(productTags, ' / ')}"></span></p>
            <p><strong>Бренд:</strong> <span th:text="${productBrand}">Brand Name</span></p>
            <p><strong>В наявності:</strong> <span th:text="${productStockQuantity}">Stock Quantity</span></p>
        </div>
    </div>
</div>

<!-- Include footer -->
<div th:replace="~{includes/footer.html}"></div>

<script>
    let currentIndex = 0;
    const images = /*[[${productImages}]]*/ [];

    document.addEventListener('DOMContentLoaded', () => {
        const thumbnails = document.querySelectorAll('.product-thumbnail img');

        thumbnails.forEach((thumbnail) => {
            images.push(thumbnail.dataset.image);
        });

        if (images.length > 0) {
            updateMainImage();
        }
    });

    function highlightThumbnail(selectedThumbnail) {
        const thumbnails = document.getElementsByClassName('product-thumbnail');
        for (let i = 0; i < thumbnails.length; i++) {
            thumbnails[i].classList.remove('selected');
        }
        selectedThumbnail.classList.add('selected');
    }

    function updateMainImage() {
        const mainImage = document.getElementById('mainImage');
        mainImage.src = '/images/' + images[currentIndex];
        highlightThumbnail(document.querySelector(`.product-thumbnail img[data-image="${images[currentIndex]}"]`).parentElement);
    }
</script>
</body>
</html>